.header {
  /* position: relative; */
  /* top: 0;
  left: 0; */
  /* z-index: 1; */
}

.header-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.main-logo {
  animation: fade-in 1s ease-in;
  flex-basis: 100%;
  max-width: 300px;
  /* display: block;
 flex-basis: 100%;
  max-width: 160px; */
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(1%);
  }
}

.header_menu-icon {
  display: none;
}

/* главное меню  */
.header-nav {
  display: flex;
  /* flex-wrap: wrap; */
  list-style-type: none;
  white-space: nowrap;
  min-height: 100px;
  align-items: center;
}

.header-nav li {
  position: relative;
  line-height: 32px;
}

.header-nav li a {
  transition: background-color 0.5s ease;
  font-weight: Bold;
  display: block;
  font-size: 1.6rem;
  padding: 0 20px;
  text-decoration: none;
  color: rgb(83, 79, 79);
  cursor: pointer;
  border-radius: 15px;
}

.header-nav li a:hover {
  color: #282828;
  background-color: rgb(247, 246, 243);
}

/* скрытое выпадающее меню */
.header-nav li:hover .drop {
  display: block;
}

.header-nav .drop {
  margin: 0;
  padding: 0;
  width: 140px;
  display: none;
  position: absolute;
  z-index: 2;
  list-style-type: none;
  top: 30px;
  left: -10px;
  background-color: rgb(247, 246, 243);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 15px 20px #0707079a;
}

ul.drop li {
  width: 100%;
}

ul.drop li a {
  display: block;
  color: inherit;
  font-size: 14px;
  color: #282828;
  font-weight: normal;
}

ul.drop li:first-child {
  border-bottom: 1px solid #282828;
  font-weight: Bold;
  color: #282828;
  text-align: center;
  font-size: 16px;
}

ul.drop li a:hover {
  color: #282828;
  border-radius: 5px;
  background: #fbded7;
}

.fa-times {
  /* width: 10px;
  height: 10px; */
  position: absolute;
  margin: auto;
  left: auto;
  top: 0;
  bottom: 0;
  right: 0;
  color: #282828;
}

.fa.close-menu-button--js {
  cursor: pointer;
  display: none;
  /* z-index: 1; */
}

.close-modalLogin--js {
  display: block;
  cursor: pointer;
  /* z-index: 2; */
  padding: 10px;
}

/* правое меню пользователя */

.nav-user {
  cursor: pointer;
  display: flex;
  max-width: 270px;
  flex-basis: 50%;
  justify-content: flex-end;

  /* margin: 0 auto; */
  position: relative;
  margin-left: auto;
  list-style-type: none;
}

.nav-user li {
  margin-left: auto;
  /* margin-right: 10px; */
  text-align: center;
}

.nav-user li a {
  transition: box-shadow 0.5s ease;
  display: block;
  padding: 0 10px;
  text-align: center;
  border-radius: 25px;
  line-height: 30px;
  color: rgb(83, 79, 79);
  transition: 0.5s;
  font-weight: Bold;
  background-image: url('../img/for_curt.png');
  /* background-repeat: no-repeat; */
  background-position: cover;
}

.nav-user a:hover {
  color: #282828;
  background-color: #f8f7f4;
}

.nav-user a:hover .nav-user_img {
  fill: #282828;
}

.nav-user_img {
  color: rgb(83, 79, 79);
  vertical-align: middle;
  /* display: inline; */
  border-radius: 25%;
  fill: rgb(83, 79, 79);
  width: 20px;
  height: 20px;
}

/* .nav-user_img:hover {
  fill: #282828;
} */
/* ставим первой ссылке круглый бекграунд */
.nav-user_a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url('../img/for_lupa.png');
}

.work-info {
  padding-top: 20px;
  flex-basis: 100%;
  text-align: right;
  margin-left: auto;
  font-size: 1.4rem;
  color: rgb(83, 79, 79);
  font-weight: bold;
}

span {
  color: rgb(83, 79, 79);
  font-size: 1.6rem;
  padding-left: 5px;
  font-weight: bold;
}

.modal-login {
  background: rgba(230, 227, 227, 0.835);
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  margin: auto;
  z-index: 1000;
  transform: translateX(150%);
  transition: 0.9s;
  opacity: 0;
}

.modal-find {
  background: rgba(230, 227, 227, 0.835);
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: -20px;
  left: auto;
  bottom: auto;
  right: auto;
  margin: auto;
  z-index: 1000;
  transform: translateX(150%);
  transition: 0.9s;
  opacity: 0;
}

.cart-div {
  display: flex;
  flex-direction: column;
  width: 400px;
  background: rgba(230, 227, 227, 0.835);
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  top: 0px;
  left: auto;
  bottom: auto;
  right: auto;
  margin: auto;
  color: rgb(83, 79, 79);
  transform: translateX(150%);
  transition: 0.9s;
  opacity: 0;
}

.animate-modal-search {
  transform: translateX(0);
  opacity: 1;
}

.form-header-search {
  width: 370px;
}

.fa-search {
  /* position: absolute;
  margin: auto;
  left: auto;
  top: auto;
  bottom: 0;
  right: 0; */
  color: #282828;
}

.box-search-icon {
  display: inline-block;

  cursor: pointer;
}

.new-form-header {
  display: flex;
  flex-direction: column;
  background: rgba(230, 227, 227, 0.835);
  border-radius: 5px;
  padding: 5px;
  color: rgb(83, 79, 79);
  border-radius: 5px;
  padding: 10px;
}

.header-title {
  /* border: 1px solid #000; */
  /* animation: slide-left 1s linear; */
  display: block;
  padding-top: 10%;
  margin: 0 auto;
  flex-basis: 100%;
  max-width: 670px;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  text-transform: lowercase;
  color: #ffffff;
}

/* стили для карточек  */
.wrap-goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;

  /* display: none; */
  height: 900px;
  opacity: 1;
  transition: 1.5s;
  transform: scale(1);
}

.show-cart {
  height: 0px;
  opacity: 0;
  /* transition: 0.9s ease-in; */
  transform: scale(0);
}

.goods {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% / 5 - 30px);
  min-width: 200px;
  margin: 15px;
  align-items: center;
  background-color: grey;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
  transition: 0.5s;
  text-align: center;
}

.goods-img {
  /* display: block; */
  max-width: 70px;
  margin-top: auto;
}
.goods-price {
}
.cart-fa-icon {
  margin-left: 5px;
  margin-bottom: 5px;
  transition: color 0.5s;
}
.cart-fa-icon:hover {
  color: rgb(14, 14, 41);
}
/* .show-res {
  font-size: 18px;
  top: 85%;
  left: 30px;
  right: auto;
  bottom: auto;
  margin: auto;
  position: absolute;
} */
.acive-fa-plus--js {
  color: red;
}
