/* стили для главного блока */
.main {
  /* padding-top: 100%; */
  /* position: relative; */
  /* z-index: 1; */
  /* margin-top: 900px; */
}
.banner-ads,
.banner-foto,
.description,
.news,
.map {
  /* max-width: 1200px; */
  margin-top: 20px;
  /* padding: 5px; */
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  justify-content: space-around;
}
/* секция 1 два фона малина и шоко */
.banner-ads_item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.8rem;
  text-transform: lowercase;
}

.banner-ads_item:nth-child(1) {
  padding: 10px;
  margin: 10px;
  max-width: 560px;
  min-height: 200px;
  border-radius: 15px;
  background-image: url('../img/banner-mal.png');
  /* background-repeat: no-repeat; */
  background-size: cover;
}

.banner-ads_item:nth-child(2) {
  padding: 10px;
  margin: 10px;
  max-width: 560px;
  min-height: 200px;
  border-radius: 15px;
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-image: url('../img/banner-shcko.png');
}

.banner-ads_h2 {
  margin: 0px;
  text-transform: lowercase;
  font-size: 3.5rem;
  font-weight: bold;
}
.banner-ads_p {
  font-size: 1.8rem;
  font-weight: bold;
}

/* секция 2  мороженное */
.banner-foto_item {
  min-width: 160px;
  width: 20%;
  margin: 10px;
  text-align: center;
  position: relative;
  border-radius: 10px;
  transition: 0.5s;

  /* word-break: break-all; */
}
.banner-foto_item:hover {
  background: #9bafa3;
  cursor: pointer;
}
img {
  display: block;
  width: 100%;
}
.banner-foto_item::before {
  position: absolute;
  display: block;
  width: 30%;
  height: 30%;
  content: '';
  background-image: url('../img/hit.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}
.banner-foto_vanil::after {
  position: absolute;
  display: block;
  width: 50%;
  height: 50%;
  content: '';
  top: 50%;
  background: url('../img/prise_ice1.png');
  background-size: 100%;

  /* background-position: center; */
  background-repeat: no-repeat;
}
.banner-foto_choco::after {
  position: absolute;
  display: block;
  width: 50%;
  height: 50%;
  content: '';
  top: 50%;
  background: url('../img/prise_ice2.png');
  background-size: 100%;

  /* background-position: center; */
  background-repeat: no-repeat;
}
.banner-foto_strawberry::after {
  position: absolute;
  display: block;
  width: 50%;
  height: 50%;
  content: '';
  top: 50%;
  background: url('../img/prise_ice3.png');
  background-size: 100%;

  /* background-position: center; */
  background-repeat: no-repeat;
}

.banner-foto_caramel::after {
  position: absolute;
  display: block;
  width: 50%;
  height: 50%;
  content: '';
  top: 50%;
  background: url('../img/prise_ice4.png');
  background-size: 100%;

  /* background-position: center; */
  background-repeat: no-repeat;
}
.banner-foto_p {
  padding-top: 10%;
  font-size: 1.6rem;
  line-height: 22px;
}

/* секция 3 */
.description {
  padding: 10px;
}

.description-bg {
  display: flex;
  flex-wrap: wrap;
  padding: 0 50px;
  max-width: 1150px;
  justify-content: space-around;
  background: url('../img/Background_fawel.png');
  background-size: 100%;
  border-radius: 10px;
}
.description_item {
  max-width: 500px;
  position: relative;
  /* padding: 30px; */
}
.description_h2 {
  font-size: 2.4rem;
  color: #323232;
  text-align: center;
}

.description_p {
  text-align: left;
  margin: 20px;
  font-size: 1.6rem;
  color: #323232;
}

.description_p--1::before {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  content: '';
  right: 100%;
  background: url('../img/Мороженко.png');
  background-repeat: no-repeat;
}
.description_p--2::before {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  content: '';
  right: 100%;
  background: url('../img/Листик.png');
  background-repeat: no-repeat;
}
.description_p--3::before {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  content: '';
  right: 100%;
  background: url('../img/Градусник.png');
  background-repeat: no-repeat;
}
.description_p--4::before {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  content: '';
  right: 100%;
  background: url('../img/Корова.png');
  background-repeat: no-repeat;
}
/* секция4 */
.mews-item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  margin: 10px;
  max-width: 560px;
  min-height: 160px;
  border-radius: 15px;
  background-image: url('../img/fon_str.png');
  /* background-repeat: no-repeat; */
  background-size: 100%;
}
.mews-item_h3 {
  width: 100%;
}
.mews-item-a {
  text-align: left;
  max-width: 300px;
  padding-right: 200px;
  font-size: 2rem;
  color: #323232;
  position: relative;
}
.mews-item-a:before {
  position: absolute;
  opacity: 0;
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #323232;
  transition: 0.9s;
}
.mews-item-a:hover:before {
  opacity: 1;
  display: block;
  content: '';
  width: 0%;
  height: 2px;
  background: #323232;
}
.mews-item-a:after {
  position: absolute;
  /* left: 100%; */
  display: block;

  content: '';
  width: 0%;
  height: 2px;
  background: #323232;
  transition: 0.9s;
}

.mews-item-a:hover:after {
  display: block;
  content: '';
  width: 100%;
  height: 2px;
  background: #323232;
}
.new-posaman {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  padding: 5px;
  max-width: 560px;

  border-radius: 15px;
  background: repeating-linear-gradient(
    -45deg,
    red,
    red 10px,
    white 10px,
    white 20px,
    blue 20px,
    blue 30px
  );
}
.new-form {
  text-align: center;
  padding-bottom: 10px;
}
.new-posaman-bg {
  border-radius: 15px;
  background: #f8f7f4;
}
.new-form_input {
  outline: transparent;
  border-radius: 5px;
  height: 40px;
  min-width: 200px;
}
.new-form_input::placeholder {
  font-size: 1.6rem;
  color: #999999;
}

/* секция 5  картка*/

.map {
  padding: 10px;
  position: relative;
}
.map::before {
  display: block;
  content: '';
  position: absolute;
  background-image: url('../img/ice-map.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 10%;
  height: 40%;
  left: 30%;
  top: 40%;
}

.map_iframe {
  border-radius: 15px;
  border: 5px solid transparent;
  width: 100%;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.335);

  min-height: 500px;
}
.map_form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 300px;
  height: 50%;
  margin: auto;
  padding: 0px 10px;
  position: absolute;
  top: 0;
  left: auto;
  bottom: 0;
  right: 30px;
  text-align: center;
  background: white;
  border-radius: 10px;
}
.map_info {
  flex-basis: 100%;
  text-align: left;
  font-size: 1.4rem;
  color: rgb(83, 79, 79);
  font-weight: bold;
}
.footer {
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.nav-cotial-icon {
  display: flex;

  /* flex-basis: 30%; */
}
.footer-img-icon {
  margin: 10px;
  color: #ffffff;
}
.nav-footer {
  flex-wrap: wrap;

  margin-left: auto;
  display: flex;
  /* flex-basis: 60%; */
  justify-content: flex-end;
}
